Customer/node_modules/
Employees/node_modules/
Login/node_modules/
Orders/node_modules/
OrderDetails/node_modules/
Products/node_modules/
Shippers/node_modules/

Customer/.env/
Employees/.env/
Login/.env/
Orders/.env/
OrderDetails/.env/
Products/.env/
Shippers/.env/

Customer/.package-lock.json/
Employees/.package-lock.json/
Login/.package-lock.json/
Orders/.package-lock.json/
OrderDetails/.package-lock.json/
Products/.package-lock.json/
Shippers/.package-lock.json/
