<nav>
    <div style="display: flex;flex-direction: column;">
        <h1 style="margin-top: 0px;"><a style="text-decoration: none" href="/login">Login</a></h1>
        <div style="display: flex;flex-direction: row; margin-top: -5px;">
            <a href="/login/sign-in">
                <span>SIGN IN</span>
            </a>
            <a href="/login/sign-up">
                <span style="margin-left: 10px;">SIGN UP</span>
            </a>
        </div>
    </div>
</nav>