<nav class="navbar">
    <div class="navbar-container">
        <div class="logo">
            <a href="/users">
                <img src="/abc.jpg" alt="Your Logo">
            </a>
        </div>
        <form class="search-form" action="/search" method="get">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <a href="/users/cart" class="cart-logo">
            <img src="/cart.png" alt="Cart">
        </a>
        <div class="nav-right">
            <a href="/users/userInfo" class="customer-logo">
                <img src="/userlogo.jpg" alt="Customer-logo">
            </a>
            <a href="/login/logout" class="logout_btn">Logout</a>
        </div>
    </div>
</nav>